
// vars tipografías
$tipografiaNavs: Verdana, Geneva, Tahoma, sans-serif;
$colorTipoNavs: rgb(105, 103, 103);
$weightTipoNavs: bolder;
$decorationTipoNavs: none;
$sizeTipoNavs: 1.2rem;

// vars iconos redes sociales
$colorIconoFb: rgb(81, 127, 211);
$sombraFb: 0px 0px 15px 5px rgb(81, 127, 211);
$colorIconoWp:  rgb(24, 160, 24);
$sombraWp:  0px 0px 15px 5px rgb(24, 160, 24);
$colorIconoIg: rgb(248, 46, 248);
$sombraIg: 0px 0px 15px 5px rgb(248, 46, 248);
$colorIconoTw: rgb(0, 195, 255);
$sombraTw: 0px 0px 15px 5px rgb(0, 195, 255);
$transformHover: translateY(-.3rem) scale(1.07);